.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 466px;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 20px;
  animation: fadeIn 0.4s ease-out;

  &::backdrop {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;

    &:hover {
      color: #008000;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #008000;
    }
  }

  &__text {
    font-size: 0.9rem;
    text-align: center;
    color: #666;

    a {
      color: #008000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__submit {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #008000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #006600;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
