.typography {
  margin: 0;
  padding: 0;

  &--h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 44px;
    line-height: 1;

    @include respond-from(medium) {
      font-size: 59px;
    }
    @include respond-from(laptop-mdpi) {
      font-size: 80px;
    }
  }

  &_h2 {
    font-weight: 800;
    font-size: 28px;
    line-height: 106%;

    @include respond-from(medium) {
      font-size: 40px;
    }
    @include respond-from(laptop-mdpi) {
      font-size: 65px;
    }
  }
}

.h1 {
  font-size: 80px;
  font-weight: 900;
  margin: 0;
}
