<!DOCTYPE html>
<html lang="ru">
<head>
    {% include './partials/head.html' %}
</head>
<body>
    <div class="site-wrapper">
        {% include './partials/header.html' %}
        <!-- MAIN CONTENT START -->

        {% include './partials/intro.html' %}
        {% include './partials/instagram-gallery.html' %}
        {% include './partials/about.html' %}
        {% include './partials/parmaster.html' %}

        <!-- MAIN CONTENT END -->
        {% include './partials/footer.html' %}
    </div>
    {% include './partials/scripts.html' %}
</body>
</html>
