<section class="gallery ">
  <div class="container gallery__container swiper js-gallery-swiper">
    <div class="gallery__head">
      <h2 class="typography typography_h2">Галерея</h2>
      <div class="gallery__navigation">
        <button type="button" class="gallery__button gallery__button_prev swiper-button-prev" aria-label="слайд назад">
          <svg width="29" height="19" viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29 9.5H1M1 9.5C1 9.5 3 9.5 6 6.5C9 3.5 10 0.5 10 0.5M1 9.5C1 9.5 3 9.5 6 12.5C9 15.5 10 18.5 10 18.5" stroke="currentColor" stroke-width="3"/>
            </svg>
        </button>
        <button type="button" class="gallery__button gallery__button_next swiper-button-next" aria-label="слайд вперед">
          <svg width="29" height="19" viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9.5H28M28 9.5C28 9.5 26 9.5 23 6.5C20 3.5 19 0.5 19 0.5M28 9.5C28 9.5 26 9.5 23 12.5C20 15.5 19 18.5 19 18.5" stroke="currentColor" stroke-width="3"/>
            </svg>
                         
        </button>
      </div>
    </div>
    <ul class="gallery__list swiper-wrapper">
      {% for i in range(1, 7) -%}
      <li class="gallery__item swiper-slide">
        <img src="img/gallery/gallery-{{i}}.webp" alt="Галерея {{i}}" srcset="img/gallery/gallery-{{i}}@2x.webp 2x">
      </li>
      {%- endfor %}
    </ul>
  </div>
</section>
