<div class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="img/logo.svg" alt="Логотип Хвоя 33" class="logo">
            <p class="header__caption">Банный комлекс</p>
        </div>

        <nav class="header__nav nav">
            <a href="#" class="nav__link">Выбрать тариф</a>
            <a href="#" class="nav__link">Как доехать</a>
        </nav>

        <a href="tel:+7 910 770-09-09" class="button header__phone">+7 910 770-09-09</a>
    </div>
</div>