<section class="intro js-intro">
  <video class="video intro__video js-intro-video" muted autoplay loop poster="img/video-poster.webp"> 
    <source src="video/dron-night.mp4" />
  </video>

  <div class="intro__content">
    <h1 class="intro__title typography typography--h1">
      <span>Новый</span>
      банный комплекс
      в cосновом лесу
    </h1>
    <p class="intro__subtitle typography">в 15 минутах от центра Владимира</p>
    <button type="button" class="intro__play-button js-play-button" aria-label="Включить видео">
      <img src="img/play.svg" alt="">
    </button>
  </div>
</section>