<section class="intro js-intro">
  <video class="video intro__video js-intro-video" muted>
    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" />
  </video>

  <div class="intro__content">
    <h1 class="intro__title typography typography--h1">
      <span>Новый</span>
      банный комплекс
      в cосновом лесу
    </h1>
    <p class="intro__subtitle typography">в 15 минутах от центра Владимира</p>
    <button type="button" class="intro__play-button js-play-button" aria-label="Play video">
      <img src="img/play.svg" alt="">
    </button>
  </div>
  <button type="button" class="intro__mute-button js-mute-button muted" aria-label="Mute/Unmute video">volume</button>
</section>