<section class="map" id="contacts">
  <div id="map" class="map__map"></div>
  <div class="map__contacts">
    <h2 class="map__header typography typography_h2">Как нас найти</h2>
    <div class="map__info">
      <div class="map__phone">
        <span class="map__caption">Телефон</span>
        <a href="tel:+79107700909">+7 910 770-09-09</a>
      </div>
      <div class="map__address">
        <span class="map__caption">Адрес</span>
        <p class="typography">Владимирская обл., Судогодский р-н, дер. Высоково, терр. Переведеново, Лесная ул. 3</p>
      </div>
    </div>
    <a href="#" class="map__button button js-map-link">Построить маршрут</a>
  </div>
</section>
