<dialog id="modal-feedback" class="modal">
  <form method="dialog" class="modal__form">
    <button type="button" class="modal__close" aria-label="Закрыть">✖</button>
    <h2 class="modal__title">Заказать звонок</h2>
    <label>
      <input type="text" class="modal__input" placeholder="Ваше имя" required />
    </label>
    <label>
      <input type="tel" class="modal__input" placeholder="Телефон" pattern="\\+?\\d{1,4}[-\\s]?\\d{3}[-\\s]?\\d{3}[-\\s]?\\d{2}[-\\s]?\\d{2}" required />
    </label>
    <p class="modal__text">
      Вы даете согласие на <a href="#">обработку персональных данных</a>
    </p>
    <button type="submit" class="modal__submit">Перезвоните мне</button>
  </form>
</dialog>

<dialog id="modal-order" class="modal">
  <form method="dialog" class="modal__form">
    <button type="button" class="modal__close" aria-label="Закрыть">✖</button>
    <h2 class="modal__title">Заказать звонок</h2>
    <label>
      <input type="text" class="modal__input" placeholder="Ваше имя" required />
    </label>
    <label>
      <input type="tel" class="modal__input" placeholder="Телефон" pattern="\\+?\\d{1,4}[-\\s]?\\d{3}[-\\s]?\\d{3}[-\\s]?\\d{2}[-\\s]?\\d{2}" required />
    </label>
    <p class="modal__text">
      Вы даете согласие на <a href="#">обработку персональных данных</a>
    </p>
    <button type="submit" class="modal__submit">Оформить заказ</button>
  </form>
</dialog>