{% set options = [ { name: 'Квадроцикл', description: '3 ч. x 4500 ₽ ', price:
'13 500₽' }, { name: 'Чан под открытым небом', description: '3 ч. x 4500 ₽ ',
price: '13 500₽' }, { name: 'Баня', description: '3 ч. x 4500 ₽ ', price: '13
500₽' } ] %}

<dialog id="modal-feedback" class="modal">
  <form method="dialog" class="modal__form">
    <button
        type="button"
        class="modal__close js-modal-close"
        aria-label="Закрыть"
      >
        ✖
      </button>
    <div class="modal__form-content">
      <h2 class="modal__title">Заказать звонок</h2>
      <label>
        <input
          type="text"
          name="name"
          class="modal__input"
          placeholder="Ваше имя"
          required
        />
      </label>
      <label>
        <input
          type="tel"
          name="phone"
          class="modal__input"
          placeholder="Телефон"
          required
        />
      </label>
      <p class="modal__text typography">
        Вы даете согласие на <a href="#">обработку персональных данных</a>
      </p>
      <button type="submit" class="button modal__submit">
        Перезвоните мне
      </button>
    </div>
    <div class="form-sucess visually-hidden">
      <h2 class="modal__title typography">Спасибо!</h2>
      <div class="form-sucess__body">
        <img
          src="img/icons/success.svg"
          alt="Успех!"
          class="form-sucess__icon"
        />
        <p class="form-sucess__text">Перезвоним вам в течение 09:32 минут</p>
        <button
          type="button"
          class="form-sucess__button button button_light js-modal-close"
        >
          Окей
        </button>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modal-order" class="modal">
  <form method="dialog" class="modal__form">
    <button
      type="button"
      class="modal__close js-modal-close"
      aria-label="Закрыть"
    >
      ✖
    </button>
    <div class="modal__form-content">
      <h2 class="modal__title">Ваш заказ</h2>
      <div class="order-info">
        <ul class="order-info__list">
          {% for item in options %}
          <li class="order-info__item">
            <div class="order-info__description">
              <h3 class="typography">{{item.name}}</h3>
              <span>{{item.description}}</span>
            </div>
            <div class="order-info__price">{{item.price}}</div>
          </li>
          {% endfor %}
          <li class="order-info__item">
            <div class="order-info__summary">Итого: 13 500₽</div>
          </li>
        </ul>
      </div>
      <label>
        <input
          type="text"
          name="name"
          class="modal__input"
          placeholder="Ваше имя"
          required
        />
      </label>
      <label>
        <input
          type="tel"
          name="phone"
          class="modal__input"
          placeholder="Телефон"
          required
        />
      </label>
      <p class="modal__text">
        Вы даете согласие на <a href="#">обработку персональных данных</a>
      </p>
      <button type="submit" class="button modal__submit">Оформить заказ</button>
    </div>
    <div class="form-sucess visually-hidden">
      <h2 class="modal__title typography">Спасибо!</h2>
      <div class="form-sucess__body">
        <img
          src="img/icons/success.svg"
          alt="Успех!"
          class="form-sucess__icon"
        />
        <p class="form-sucess__text">Перезвоним вам в течение 09:32 минут</p>
        <button
          type="button"
          class="form-sucess__button button button_light js-modal-close"
        >
          Окей
        </button>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modal-video" class="modal-video">
  <button
        type="button"
        class="modal__close js-modal-close"
        aria-label="Закрыть"
      >
        ✖
      </button>
  <div class="plyr__video-wrapper">
    <video id="player" playsinline controls data-poster="img/video-poster.webp">
      <source
        src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm"
        type="video/webm"
      />
  </div>
</dialog>


