<section class="parmaster">
  <div class="container parmaster__container">
    <div class="parmaster__image">
      <img src="img/parmaster.webp" srcset="img/parmaster@2x.webp 2x" alt="Пармастер" />
    </div>
    <div class="parmaster__content">
      <h2 class="typography typography_h2">Пармастер — ключ&nbsp;к&nbsp;вашему релаксу</h2>
      <p class="typography">
        Пармастер создаёт комфортные и безопасные условия для отдыхающих, помогая им достичь максимального расслабления и оздоровления. 
      </p>
      <p class="typography">Он также может советовать посетителям наиболее подходящие виды процедур, исходя из их предпочтений и состояния здоровья.</p>
      <button type="button" class="button parmaster__button js-open-feedback-modal">Забронировать время</button>
    </div>
  </div>
</section>