{% set tariffImages = ['1', '2', '1'] %}
{% set tariffCustomImages = ['1', '2', '3'] %}


<section class="tariffs" id="tariffs">
  <div class="container">
    <h2 class="tariffs__header typography typography_h2">Выберите тариф</h2>
    <ul class="tariffs__list">
      {% for item in tariffImages -%}
      <li class="tariffs__card tariff-card">
        <div class="tariff-card__badges">
          <span class="tariff-card__badge tariff-card__badge_red"
            >ежедневно</span
          >
          <span class="tariff-card__badge tariff-card__badge_green"
            >5% скидка</span
          >
        </div>
        <div class="tariff-card__image">
          <img src="img/tariffs/tariff-{{item}}.webp" alt="Девушка в бане" />
        </div>
        <div class="tariff-card__content">
          <h3 class="tariff-card__header typography">Стандарт</h3>
          <ul class="tariff-card__option-list">
            <li class="tariff-card__option">
              Баня с размещением до 6 человек (3 часа)
            </li>
            <li class="tariff-card__option">
              Чан с горячей водой под открытым небом (1 час)
            </li>
            <li class="tariff-card__option">Мангал и еда</li>
          </ul>
          <div class="tariff-card__footer">
            <div class="tariff-card__prices">
              <span class="tariff-card__old-price">6 000 ₽</span>
              <span class="tariff-card__price">3 500 ₽</span>
            </div>
            <button type="button" class="tariff-card__button button js-open-feedback-modal">
              Забронировать
            </button>
          </div>
        </div>
      </li>
      {%- endfor %}
    </ul>

    <h2 class="tariffs__header typography typography_h2">Собери свой тариф</h2>
    <ul class="tariffs__list">
      {% for i in tariffCustomImages -%}
      <li class="tariffs__card tariff-card">
        <div class="tariff-card__badges">
          <span class="tariff-card__badge tariff-card__badge_red"
            >ежедневно</span
          >
          <span class="tariff-card__badge tariff-card__badge_green"
            >5% скидка</span
          >
        </div>
        <div class="tariff-card__image">
          <img src="img/tariffs/custom-{{i}}.webp" alt="Девушка в бане" />
        </div>
        <div class="tariff-card__content">
          <h3 class="tariff-card__header typography">Стандарт</h3>
          <ul class="tariff-card__option-list">
            <li class="tariff-card__option">
              Баня с размещением до 6 человек (3 часа)
            </li>
            <li class="tariff-card__option">
              Чан с горячей водой под открытым небом (1 час)
            </li>
            <li class="tariff-card__option">Мангал и еда</li>
          </ul>
          <div class="tariff-card__footer">
            <div class="tariff-card__prices">
              <span class="tariff-card__old-price">6 000 ₽</span>
              <span class="tariff-card__price">5 700 ₽</span>
            </div>
            <div class="button visually-hidden">Добавить</div>
            <form class="counter">
              <button
                type="button"
                class="counter__button counter__button--decrease"
              >
                −
              </button>
              <div class="counter__input-wrapper">
                <input
                  type="number"
                  class="counter__value"
                  value="1"
                  min="0"
                  max="24"
                />
                <!-- <span class="counter__unit">ч.</span> -->
              </div>
              <button
                type="button"
                class="counter__button counter__button--increase"
              >
                +
              </button>
            </form>
          </div>
        </div>
      </li>
      {%- endfor %}
    </ul>

    <div class="tariffs-banner">
      <div class="tariffs-banner__image-wrapper">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              img/tariffs/tariffs-banner-mobile.webp,
              img/tariffs/tariffs-banner-mobile@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="img/tariffs/tariffs-banner.webp"
            alt="Аренда квадрациклов"
            srcset="img/tariffs/tariffs-banner@2x.webp 2x"
            class="tariffs-banner__image"
          />
        </picture>
      </div>

      <div class="tariffs-banner__content">
        <h2 class="tariffs-banner__header typography typography_h2">
          Квадроциклы в&nbsp;аренду
        </h2>
        <p class="tariffs-banner__text typography">
          Возьмите перерыв от городской суеты и ощутите прилив адреналина, мчась
          по зеленым тропинкам хвойного леса на мощном квадроцикле!
        </p>
        <p class="tariffs-banner__text typography">
          Аренда квадроциклов у нас — это ваш шанс насладиться незабываемыми
          пейзажами и острыми ощущениями среди вековых деревьев.
        </p>
        <button type="button" class="tariffs-banner__button button">
          Арендовать за 4 500 ₽ / час
        </button>
      </div>
    </div>
  </div>
</section>
